In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import pairwise_distances
from scipy.sparse import csr_matrix
import time
import csv

In [3]:
df=pd.read_csv('../ml-20m/ratings.csv')

In [6]:
df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [7]:
df.iloc[1000:1110]

      userId  movieId  rating   timestamp
1000      11      527     4.5  1251170861
1001      11      531     4.5  1230782539
1002      11      541     4.5  1230787503
1003      11      546     5.0  1230788928
1004      11      551     5.0  1230853957
1005      11      586     4.0  1230859027
1006      11      587     4.5  1230858969
1007      11      588     5.0  1251170867
1008      11      589     4.5  1230788848
1009      11      592     4.5  1230789445
1010      11      593     5.0  1230858809
1011      11      595     4.5  1230858904
1012      11      597     4.5  1230858934
1013      11      608     3.5  1230858873
1014      11      610     4.0  1230853952
1015      11      611     3.5  1230787801
1016      11      616     4.0  1230782542
1017      11      631     2.0  1230784338
1018      11      648     4.0  1230853720
1019      11      653     4.5  1251143205
1020      11      671     0.5  1230782626
1021      11      673     5.0  1230787775
1022      11      736     5.0  1251170912
1023      11      741     4.5  1230788659
1024      11      761     3.5  1230856213
1025      11      780     5.0  1230788340
1026      11      784     3.5  1230853947
1027      11      828     4.0  1230784021
1028      11      858     2.5  1230858924
1029      11      880     5.0  1230787643
...      ...      ...     ...         ...
1080      11     1917     5.0  1230785499
1081      11     1961     3.5  1230859062
1082      11     1977     0.5  1230857275
1083      11     1982     1.0  1230782674
1084      11     2004     4.5  1230855910
1085      11     2011     5.0  1230785925
1086      11     2012     5.0  1230785927
1087      11     2018     4.0  1230786066
1088      11     2023     2.0  1230853853
1089      11     2028     5.0  1230857271
1090      11     2042     4.0  1230857266
1091      11     2105     4.5  1230789406
1092      11     2107     0.5  1230857260
1093      11     2123     2.5  1230784335
1094      11     2124     3.5  1230783788
1095      11     2134     5.0  1230789398
1096      11     2140     5.0  1230782563
1097      11     2143     3.0  1230855905
1098      11     2153     3.5  1230785789
1099      11     2232     4.5  1230788590
1100      11     2240     4.5  1230857238
1101      11     2291     5.0  1230853841
1102      11     2294     3.5  1230785306
1103      11     2313     4.5  1230782646
1104      11     2355     4.0  1230853836
1105      11     2378     3.0  1230855891
1106      11     2396     4.5  1230859056
1107      11     2420     3.0  1230923254
1108      11     2428     5.0  1230782694
1109      11     2455     5.0  1251170040

[110 rows x 4 columns]

In [42]:
df=df.iloc[1:1110]#In this program we omit some data according to memory we have on access.We can test it on real data on LAB by then.

In [9]:
df

      userId  movieId  rating   timestamp
1          1       29     3.5  1112484676
2          1       32     3.5  1112484819
3          1       47     3.5  1112484727
4          1       50     3.5  1112484580
5          1      112     3.5  1094785740
6          1      151     4.0  1094785734
7          1      223     4.0  1112485573
8          1      253     4.0  1112484940
9          1      260     4.0  1112484826
10         1      293     4.0  1112484703
11         1      296     4.0  1112484767
12         1      318     4.0  1112484798
13         1      337     3.5  1094785709
14         1      367     3.5  1112485980
15         1      541     4.0  1112484603
16         1      589     3.5  1112485557
17         1      593     3.5  1112484661
18         1      653     3.0  1094785691
19         1      919     3.5  1094785621
20         1      924     3.5  1094785598
21         1     1009     3.5  1112486013
22         1     1036     4.0  1112485480
23         1     1079     4.0  1094785665
24         1     1080     3.5  1112485375
25         1     1089     3.5  1112484669
26         1     1090     4.0  1112485453
27         1     1097     4.0  1112485701
28         1     1136     3.5  1112484609
29         1     1193     3.5  1112484690
30         1     1196     4.5  1112484742
...      ...      ...     ...         ...
1080      11     1917     5.0  1230785499
1081      11     1961     3.5  1230859062
1082      11     1977     0.5  1230857275
1083      11     1982     1.0  1230782674
1084      11     2004     4.5  1230855910
1085      11     2011     5.0  1230785925
1086      11     2012     5.0  1230785927
1087      11     2018     4.0  1230786066
1088      11     2023     2.0  1230853853
1089      11     2028     5.0  1230857271
1090      11     2042     4.0  1230857266
1091      11     2105     4.5  1230789406
1092      11     2107     0.5  1230857260
1093      11     2123     2.5  1230784335
1094      11     2124     3.5  1230783788
1095      11     2134     5.0  1230789398
1096      11     2140     5.0  1230782563
1097      11     2143     3.0  1230855905
1098      11     2153     3.5  1230785789
1099      11     2232     4.5  1230788590
1100      11     2240     4.5  1230857238
1101      11     2291     5.0  1230853841
1102      11     2294     3.5  1230785306
1103      11     2313     4.5  1230782646
1104      11     2355     4.0  1230853836
1105      11     2378     3.0  1230855891
1106      11     2396     4.5  1230859056
1107      11     2420     3.0  1230923254
1108      11     2428     5.0  1230782694
1109      11     2455     5.0  1251170040

[1109 rows x 4 columns]

In [10]:
matrix = df.pivot(index ='movieId', columns='userId', values='rating').fillna(0)
matrix.shape

(742, 11)

In [11]:
matrix_sparse = csr_matrix(matrix)

In [12]:
matrix_sparse.shape

(742, 11)

In [13]:
item_similarity = pairwise_distances(matrix_sparse, metric='cosine')
user_similarity = pairwise_distances(matrix_sparse.T, metric='cosine')

In [14]:
item_similarity.shape 
user_similarity.shape

(11, 11)

In [15]:
# Make prediction
def predict(matrix, similarity, type='user'):
    if type == 'user':
        mean_user_rating = matrix.mean(axis=1)
        ratings_diff = (matrix - mean_user_rating)
        pred = mean_user_rating + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = matrix.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

item_prediction = predict(matrix_sparse.T, item_similarity, type='item')
user_prediction = predict(matrix_sparse.T, user_similarity, type='user')

In [17]:
import pandas as pd
import numpy as np
from surprise import Dataset, Reader, SVD, KNNBasic, evaluate

data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], Reader(rating_scale=(1, df['rating'].max())))

# First, train the algortihm to compute the similarities between items
# training is very slow..
trainset = data.build_full_trainset()

# compute cosine similarities between items
sim_options = {'name': 'cosine','user_based': False}
knn = KNNBasic(k=5, sim_options=sim_options)
knn.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [36]:
# predict a certain item
userid = 11
itemid = 2428
print(knn.predict(userid, itemid))

user: 11         item: 2428       r_ui = None   est = 3.50   {'actual_k': 5, 'was_impossible': False}

In [41]:
# actual rating #error is for data is not complete.
print("Actual no by user 0 =", matrix.loc[2428][3])

Actual no by user 0 = 4.0